/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


/* typography for tiptap */
.prose pre {
  margin: 0;
  padding: 5;
  border-radius: 0;
}

/* .prose code {
  margin: 0;
  padding: 0;
} */
 
 /* Change the color of the NProgress bar to red */
 #nprogress .bar {
  background: #ff0000 !important; /* Red color */
}

/* Customize the spinner (if you're using it) to red */
#nprogress .spinner-icon {
  border-top-color: #ff0000 !important;
  border-left-color: #ff0000 !important;
}

/* Change the color of the background glow/peg to red */
#nprogress .peg {
  box-shadow: 0 0 10px #ff0000, 0 0 5px #ff0000 !important;
}





/* Editor Toolbar button styles */
.editor-btn {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 4px; 
  transition: background-color 0.2s, color 0.2s; 
}

.editor-btn:hover {
  background-color: #e0f2fe;
}

.active-editor-btn {
  background-color: #3b82f6; 
  color: white; 
  border-radius: 4px;
}


/* react icons */
.icon-bold {
  position: relative;
  display: inline-block;
}

.icon-bold svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.icon-bold .icon-duplicate {
  position: absolute;
  top: 0.5px; /* Adjust this value as needed */
  left: 0.5px; /* Adjust this value as needed */
  z-index: -1;
}
